.dropdown {
    width: 100%;
    background-color: var(--color-gray);

    border-radius: 5px;
    margin-block: 1rem;

    .dd-header {
        background-color: var(--color-primary);
            border-radius: 5px;
            padding: .5rem;

            display: flex;
            justify-content: space-between;
            color: #fff;

        .dd-title {
            font-weight: 700;
        }

        .dd-arrow {
            display: inline-block;
            height: 21px;
            width: 21px;
            text-align: center;

            transform: rotate(90deg);
            transition: transform 200ms ease-in;
        }

        &.active .dd-arrow {
            transform: rotate(-90deg);
        }
    }

    .dd-content {
        padding: 0rem .5rem;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 200ms ease-out;
    }

    &:has(.active) {
        .dd-content {
            padding: 1rem .5rem;
            max-height: 100vh;
            opacity: 1;
            transition: all 200ms ease-in;
        }
    }
}