.dropdown {
    width: 100%;
    background-color: #f6f6f6;
    margin-block: 1rem;

    .top-bar {
        height: 3.5rem;
        background-color: #ff6060;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1rem;

        .title {
            color: #fff;
            font-weight: 700;
            font-size: 1.5rem;
        }

        .arrow {
            transform: rotate(0deg);
            transition: all ease-in 200ms;

            &.active {
                transform: rotate(-180deg);
                transition: all ease-in 200ms;
            }
        }

        .arrow img {
            pointer-events: none;
        }
    }

    .content {
        padding: 1.25rem 1.25rem;
        font-size: 1.25rem;
        line-height: 1.62rem;

        transform: scaleY(0);
        display: none;
        height: 0;
    }

    height: 3.5rem;
    transition: height 2s ease-in;

    &:has(.active) {
        height: 100%;

        .content {
            display: block;
            height: 100%;
            transform: scaleY(1);
        }
    }
}
