.container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap : 5px;

        .title {
            font-weight: 500;
            font-size: var(--font-size-h1);
            color: var(--color-main);
        }

        .location {
            font-size: var(--font-size-h2);
        }

        .tags-list {
            display: flex;
            gap: .5rem;

            li {
                background-color: var(--color-main);
                color: var(--color-white);
                font-size: 10px;
                font-weight: 700;
                line-height: 142.6%;
                padding-inline: 15px;
                border-radius: 10px;
            }
        }
    }

    .host {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: .5rem;

        .owner {
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 0.62rem;

            .name {
                display: flex;
                flex-direction: row-reverse;

                font-size: var(--font-size-main);
                text-align: right;
                color: #ff6060;
                inline-size: 1rem;
            }

            .picture {
                border-radius: 50%;
                width: 32px;
                aspect-ratio: 1;
            }
        }
    }
}

.details {
    .dropdown {
        .top-bar {
            height: 30px;
        }
    }
}

@media (width >= 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        margin-block: 2rem;

        .description {
            .title {
                padding-block: .8rem;
                line-height: 1.6rem;
            }
            .location {
                font-size: var(--font-size-main);
            }
            .tags-list {
                li {
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    border-radius: 10px;
                }
            }
        }

        .host {
            align-items: flex-end;
            flex-direction: column-reverse;
            gap: 1rem;

            .rating-stars {
                .rate {
                    .star img {
                        height: 24px;
                    }
                }
            }

            .owner {
                .picture {
                    width: 64px;
                }
            }
        }
    }

    .details {
        .dropdown {
            .top-bar {
                height: 52px;
            }
        }
    }
}