.header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .brand svg {
        width: fit-content;
        height: 46px;
    }

    .nav {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-transform: uppercase;

        .nav-btn {
            text-decoration: none;

            &.active {
                text-decoration: underline;
            }
        }
    }
}

@media (width >= 768px) {
    .header .nav { 
        text-transform: none;
    }
}