.header {
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .brand svg {
        height: 68px;
        width: fit-content;
    }

    .nav .links {
        display: flex;
        flex-direction: row;
        gap: 4rem;

        font-size: var(--font-size-h2);

        a {
            color: var(--color-black);
        }

        a.active {
            text-decoration: underline;
        }
    }
}

@media (width < 768px) {
    .header {
        padding: 20px;
        .brand svg {
            height: 46px;
        }

        .nav .links {
            gap: 2rem;
            font-size: var(--font-size-main);
        }
    }

}