.carousel {
    height: 235px;
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: row;

    overflow: hidden;

    .info {
        justify-self: center;
    }

    .carousel-image-container {
        height: 100%;
        width: 0;
        position: absolute;

        display: flex;
        justify-content: center;

        transition: left ease-in-out 1s, width ease 0.5s;

        &.current {
            width: 100%;
            left: 0;
        }

        &.prev {
            left: -100%;
        }

        &.next {
            left: 100%;
        }

        .carousel-image {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
        }


    }


    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0);
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
        border: none;
        padding: 10px;
        cursor: pointer;

        &.prev-button {
            left: 0;
        }

        &.next-button {
            right: 0;
        }
    }
}

@media (width > 720px) {
    .carousel {
        height: 415px;

        .carousel-button {
            font-size: 3rem;
        }
    }
}
