.footer {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-black);

    .brand svg {
        max-height: 40px;

        path {
            fill: var(--color-white);
        }
    }

    .footer-copyright {
        color: #fff;
        font-size: var(--font-size-main);
    }
}

@media (width < 768px) {}