.footer {
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    background-color: #000;
    color: #fff;

    .brand svg {
        max-height: 40px;

        path {
            fill: #fff;
        }
    }
}

@media (width >= 768px) {
    .footer .footer-copyright {
        font-size: 24px;
    }
}