*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
}

:root {
    --color-primary : #FF6060;
    --color-gray: #F6F6F6;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container {
    width: 100%;
    min-width: 375px;
    margin-inline: auto;
    padding: .5rem 1rem;

    .content {
        width: 100%;
    }
}

.app {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    .container:has(.content) {
        flex: 1;
    }
}

@media (width >= 768px ) {
    .container {
        max-width: 768px;
    }
}

@media (width >= 1024px ) {
    .container {
        max-width: 1024px;
    }
}